@import url(main.css);

/* LOGIN */
.boxLogin_title{
  display: inline-block;
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
  position: relative;
  font-family: 'Catalish Huntera';
  margin-bottom: 20px;
  font-size: var(--xlg);
}

.boxLogin_title:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: var(--titulo-degrade);
  mix-blend-mode: screen; /*atento a esta linea*/
  position: absolute;
  top: 0;
  left: 0;
}

.containerBoxLoginFull{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxLogin{
  width: 400px;
  margin-top: 70px;
}

.boxLogin label{
  font-size: var(--md);  
  font-weight: 700;
  color: var(--charcol-claro);
  margin-top: 4px;
}

.boxLogin_form_email,.boxLogin_form_pass{
  width: 100%;
  height: 30px;
  padding: 5px;
  font-size: var(--sm);
  background-color: var(--white);
  border: 1px solid var(--charcol-claro);
  border-radius: 7px;
  margin-bottom: 5px;
}

.boxLogin_form_button{
  width: 100%;
  height: 40px;
  font-size: var(--lg);
  border: none;
  border-radius: 9px;
  background: var(--fresa);
  color: var(--white);
  font-weight: 500;
  margin-top: 40px;
  cursor: pointer;
}

.boxLogin_re-sesion{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -12px;
}

.boxLogin_relogin,.boxLogin_upLogin{
  text-decoration: none;
  color: var(--charcol-claro);
  margin: 0px 4px;
  font-size: var(--sm);
}

.boxLogin_upLogin{
  font-weight: 500;
}

.containerBoxLogin_modelo{
 position: fixed; 
 width: 400px;
}

/* LOGOTIPO */
.containerHeader_logo{
  margin: 40px;
  width: 120px;
}

/* IMAGEN MODELO */
.containerBoxLogin_modelo{
  position: absolute;
  bottom: 0px;
  width: 30%;
}

@media (max-width: 900px){
  .containerBoxLogin_modelo{
    display: none;
  }
}

@media (max-width: 700px){
  .boxLogin{
    width: 100%;
    /* margin-top: 0px; */
    margin: 0px 20px;
  }

  .containerHeader{
    display: flex;
    justify-content: center;
  }
}